fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
pillow
torch
torchvision
diffusers<1.0.0
transformers
accelerate
safetensors
huggingface_hub
opencv-python
numpy
requests
python-dotenv
onnxruntime
av
einops
tqdm
matplotlib
fashn-human-parser
fvcore
imageio
omegaconf
pandas
peft
psutil
pycocotools
pyyaml
regex==2024.5.15
scikit-image
scipy
timm
torchmetrics
pytest
