fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
pillow
torch
torchvision
diffusers<1.0.0
transformers
accelerate
safetensors
huggingface_hub
opencv-python
numpy
requests
python-dotenv
onnxruntime
einops
tqdm
matplotlib
fashn-human-parser
fvcore
omegaconf
peft
psutil
pycocotools
scikit-image
scipy
timm
torchmetrics
pytest
